/** Prefectly setup
*************************************/
@import "_screen.scss";
@import "_setup.scss";

/** Style customizations
*************************************/

.prefectly{
	background: #f6f6f6;
	border-radius: 10px;
	border-top: 1px solid #e4e4e4;
	color: #dddddd;
}

#plain{
	color: #666;
}

#visited{
	.am,
	.cb,
	.eh,
	.fs,
	.gf,
	.gm,
	.hk,
	.hs,
	.ig,
	.ik,
	.ka,
	.kg,
	.kn,
	.kt,
	.ng,
	.nr,
	.ns,
	.os,
	.oy,
	.so,
	.st,
	.tk,
	.wy,
	.yg{
		color: #52a3cc;
	}
}

#region{
	.hk{
		color: #e58a8a;
	}
	.am,
	.at,
	.fs,
	.it,
	.mg,
	.ym{
		color: #e5ac73;
	}
	.cb,
	.gm,
	.ig,
	.kn,
	.st,
	.tg,
	.tk{
		color: #e5e55c;
	}
	.ac,
	.fk,
	.gf,
	.ik,
	.ng,
	.nn,
	.so,
	.ty,
	.yn{
		color: #7acc7a;
	}
	.hg,
	.kt,
	.me,
	.nr,
	.os,
	.sg,
	.wk{
		color: #7acccc;
	}
	.hs,
	.oy,
	.sn,
	.tt,
	.yg{
		color: #7a96cc;
	}
	.to,
	.ka,
	.eh,
	.ko{
		color: #a37acc;
	}
	.fo,
	.kg,
	.km,
	.mz,
	.ns,
	.on,
	.ot,
	.sa{
		color: #cc7abe;
	}
}

#eq{
	.mg{
		color: #e50000;// 7
	}
	.cb,
	.fs,
	.gm,
	.ig,
	.it,
	.st,
	.tg{
		color: #e56000;// 6
	}
	.am,
	.at,
	.kn,
	.ng,
	.nn,
	.so,
	.tk,
	.ym,
	.yn{
		color: #e59900;// 5
	}
	.ac,
	.gf,
	.hk{
		color: #f2de00;// 4
	}
	.fk,
	.hg,
	.ik,
	.kt,
	.me,
	.nr,
	.os,
	.sg,
	.ty{
		color: #73e500;// 3
	}
	.km,
	.ko,
	.oy,
	.sa,
	.sn,
	.to,
	.tt,
	.wk{
		color: #00e5bf;// 2
	}
	.eh,
	.fo,
	.hs,
	.ka,
	.kg,
	.ns,
	.ot{// 1
	}
}