body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #fff;
  /*font: 10px sans-serif;*/
  padding-top: 50px;
  padding-bottom: 20px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: orangered ;
}

.bar-tokyo.top  {
  fill: gold;
}
.bar-tokyo.bottom  {
  /*fill: gold;*/
  /*fill:url(#linepattern);*/
  /*background: linear-gradient(38deg, white, white 48%, #7EBA03 49%, #7EBA03 51%, white 52%, white)*/
  fill:none;
  stroke:gold;
  stroke-width:3;
}
.bar-sapporo.top {
  fill: silver;
}
.bar-sapporo.bottom {
  fill:none;
  stroke:silver;
  stroke-width:3;
}

.bar-nagano.top {
  fill: coral;
}
.bar-nagano.bottom {
  fill:none;
  stroke:coral;
  stroke-width:3;
}


.bar-tokyo:hover, .bar-sapporo:hover, .bart-nagano {
  fill: orangered;
}


.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.gorin-choice {
  isplay: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -ms-box-orient: horizontal;
    -moz-box-orient: horizontal;
}

.gorin {
    -webkit-box-flex: 1;
    -ms-box-flex: 1;
    -ms-flex:1;
    -moz-box-flex: 1;
    flex:1;
}

/*-------------------------headerの指定*/ 
header {
  height: 30px;
  margin: -30px;
  padding: 10px;
}


/*-------add*/
.navbar-gorin {
 /*background-color: #C50505;
 border-color: #C50505;*/
 background-color: #000066;
 border-color: #000066;
}

hr.article_hr {
  clear: both;
  border-top:dotted 1px #000066;
}

 .caption {
  font-weight: 200;
 }

.info {
  margin-top: -23px;
  margin-bottom: 35px;
  padding-bottom: 10px;
}

.more-btn {
  margin-top:-32px;
  margin-bottom:10px;
}

.change-btn {
  margin-top:-25px;
  margin-bottom:10px;
}

button#tokyo-more {
  display: block;
}
button#sapporo-more {
  display: block;
}

button#nagano-more {
  display: block;
} 

div#tokyo-change {
  display: none;
}
div#sapporo-change {
  display: none;
}
div#nagano-change {
  display: none;
}
div#tokyo-svg, div#sapporo-svg, div#nagano-svg{
  margin-bottom: 30px;
}
/*.bottom {
  fill:url(#linepattern);
}*/